.Main-page {
    margin-bottom: 100px;
}

.Title {
    text-align: center;
    margin-bottom: 30px;
}

.Content p {
    text-align: center;
    line-height: 1.6;
}

.Content ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin-bottom: 30px;
}

.Content ul li {
    margin-bottom: 10px;
}